/* jet #353535
ming #3C6E71
alice blue #EDF6F9
gainsboro #d9d9d9
indigo dye #284B63 */

.header{
    width: 100%;
    min-height: 550px;
    background-color: #353535;
    overflow: hidden;
}

.header-img{
    min-height: 550px;
    min-width: 827px;
    width: 100%;
}

.header-video{
    min-height: 550px;
    min-width: 827px;
    width: 100%;
}

/* z-index */
.z10{
    z-index: 10;
}

.z15{
    z-index: 15;
}

.z20{
    z-index: 20;
}

.z25{
    z-index: 25;
}

/* opacity */
.opacity{
    opacity: 0.7;
}